<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Waitlist</title>
  <meta name="description" content="A simple waitlist app based on TODO">
  <meta name="author" content="Tim Standen">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">
      <form action="/" method="post">
        <div class="ten columns">
          <input type="text" placeholder="email..."
            name="email" id="email" value="" autofocus
            class="u-full-width {% if flash %}field-{{flash.0}}{% endif %}" />
          <input type="text" placeholder="first name..."
            name="first_name" id="first_name" value="" 
            class="u-full-width {% if flash %}field-{{flash.0}}{% endif %}" />
          <input type="text" placeholder="last name..."
            name="last_name" id="last_name" value="" 
            class="u-full-width {% if flash %}field-{{flash.0}}{% endif %}" />
          <input type="text" placeholder="notes"
            name="notes" id="notes" value="" 
            class="u-full-width {% if flash %}field-{{flash.0}}{% endif %}" />
          {% if flash %}
            <small class="field-{{flash.0}}-msg">
               {{ flash.1 }}
            </small>
          {% endif %}
        </div>
        <div class="two columns">
          <input type="submit" value="add to waitlist">
        </div>
      </form>
    </div>

    <div class="row">
      <div class="twelve columns">
        <ul>
        {% for entry in waitlist %}
            <li>
              <span >{{ entry.email}} | </span>
              <span >{{ entry.first_name}}</span>
              <span >{{ entry.last_name}} | </span>
              <span >{{ entry.notes}} |</span>
              <form class="inline" action="/{{entry.email}}" method="post">
-                <input type="hidden" name="_method" value="delete" />
-                <button class="primary small" type="submit">delete</button>
-              </form>
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
